{% extends "index.html" %}
{% block content %}


<div class="row-offcanvas row-offcanvas-left">
  <div id="sidebar" class="sidebar-offcanvas">
      <div class="col-md-12">
        <h3>Saved</h3>
        <ul class="nav nav-pills nav-stacked">
          {% for link in saved %}
            <li><a href="#">
              {{ link["msg"][:35] }}
            </a></li>
          {% endfor %}
        </ul>
      </div>
  </div>

  <div id="main">
      <div class="col-md-12">
      	  <p class="visible">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Saved</button>
          </p>
          <h2>Article</h2>
          <div class="row">

            {{article[0]["msg"]}}
          </div>

      </div>
  </div>
</div><!--/row-offcanvas -->

{% endblock %}
